<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RICE_POT_Salesforce_Login_Suite" verbose="2" parallel="none">

    <listeners>
        <listener class-name="com.ricepot.listeners.TestListener"/>
    </listeners>

    <test name="ValidLoginTests">
        <classes>
            <class name="com.ricepot.tests.ValidLoginTest"/>
        </classes>
    </test>

    <test name="InvalidLoginTests">
        <classes>
            <class name="com.ricepot.tests.InvalidLoginTest"/>
        </classes>
    </test>

</suite>
